.happy {
	background: url("../img/smilies.png") 0px 0px;
	width: 60px;
	height: 65px;
}
.reallyhappy {
	background: url("../img/smilies.png") -60px 0px;
	width: 60px;
	height: 65px;
}
.neutral {
	background: url("../img/smilies.png") -120px 0px;
	width: 60px;
	height: 65px
}
.sad {
	background: url("../img/smilies.png") -180px 0px;
	width: 60px;
	height: 65px;
}
.reallysad {
	background: url('../img/smilies.png') -240px 0px;
	width: 60px;
	height: 65px;
}
.face {
	float: left;
	margin-right: 20px;
}
li {
	margin-bottom: 55px;
	font-size: 25px;
	list-style: none;
	clear: left;
	/*display: none;*/
}
input {
	font-size: 25px;
	width: 340px;
}
button {
	font-size: 20px;
	width: 50px;
	height: 36px;
	padding-top: 5px;
}
.result {
	width: 700px;
	margin-top: 0;
	position: absolute;
	left: 500px;
}
#form {
	float: left;
	width: 400px;
	margin-left: 50px;
	margin-top: 80px;
}
.imgresult
{
	width: 258px;
	margin: 20px 0 0 70px;
}
.loading {
	background: url("../img/gallery_loader.gif") center;
	width: 508px;
	height: 324px;
}
li p {
	color:#808080;
	margin-left: 80px;
}
a:hover {
	text-decoration:underline;
}
a {
	text-decoration:none;
	font-weight:bold;
	color:black;
}
li img {
	float: left;
	width: 30px;
	margin-right: 5px;
}
li span {
	font-size: 15px;
}