.happy
{
	background: url("smilies.png") 0px 0px;
	width: 60px;
	height: 65px;
}
.reallyhappy
{
	background: url("smilies.png") -60px 0px;
	width: 60px;
	height: 65px;
}
.neutral
{
	background: url("smilies.png") -120px 0px;
	width: 60px;
	height: 65px
}
.sad
{
	background: url("smilies.png") -180px 0px;
	width: 60px;
	height: 65px;
}
.reallysad
{
	background: url('smilies.png') -240px 0px;
	width: 60px;
	height: 65px;
}
.face
{
	float: left;
	margin-right: 20px;
}
li
{
	margin-bottom: 35px;
	font-size: 25px;
	list-style: none;
	clear: left;
	/*display: none;*/
}
input
{
	font-size: 25px;
	width: 340px;
}
button
{
	font-size: 20px;
	width: 50px;
	height: 36px;
	padding-top: 5px;
}
.result
{
	width: 700px;
	margin-top: 0;
	position: absolute;
	left: 500px;
}
#form
{
	float: left;
	width: 400px;
	margin-left: 50px;
	margin-top: 80px;
}
.imgresult
{
	width: 258px;
	margin: 20px 0 0 70px;
}
.loading
{
	background: url("gallery_loader.gif") center;
	width: 508px;
	height: 324px;
}
p
{
	text-align:right;
	color:#808080;
}
a:hover
{
	text-decoration:underline;
}
a
{
	text-decoration:none;
	font-weight:bold;
	color:black;
}